.vscode/**
.vscode-test/**
src/**
src/test
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/*.js
out/*.map
out/test
!out/extension.js
out/libs
out/tr
node_modules
